/* 
  Coding University 
  By Abiodun Anifowose
*/

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: grid;
  grid-template-rows: 80px 1fr;
  margin: 0;
  padding: 0;
  background: #444;
  color: #f5f6f7;
  height: 100vh;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background: #1e1e1e;
}

.nav-bar__icon img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.nav-bar__logo {
  font-size: 26px;
  font-weight: bold;
}

.cu-title {
  font-size: 26px;
  font-weight: bold;
  padding: 16px;
  color: lightgreen;
}

.cu-example {
  font-size: 26px;
  font-weight: 700;
  padding: 16px;
  color: #ffbd59;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 8px;
}

span {
  font-weight: normal;
  color: #f5f6f7;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 500;
}

.cu-example__one-form {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.cu-example__one-form input,
.cu-example__three input {
  margin-bottom: 8px;
  height: 30px;
  width: 300px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid;
}
.cu-example__one-form button,
.cu-example__two button {
  margin-bottom: 8px;
  height: 36px;
  width: 308px;
  border: 1px solid #1d9bf0;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.cu-example__three button {
  margin-bottom: 8px;
  height: 38px;
  width: 200px;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  transition: all 0.3s;
  box-shadow: 0 0 0 0.2rem #458fff;
}

.cu-example__two button {
  margin: 8px;
  background: #1d9bf0;
}

.cu-example__three button {
  background: #333;
}

.cu-example__three {
  display: flex;
  margin: 16px;
}

.username--text {
  margin: 16px;
  font-size: 20px;
  color: #fff;
}
.cu-example__two {
  display: flex;
  margin: 16px;
  width: 308px;
}
.cu-example__two.num {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
  min-height: 65px;
}

.empty--cart {
  font-weight: 400;
  font-size: 20px;
}

.cu-three-main {
  display: flex;
}

.cu--box {
  margin: 16px;
  box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
  width: 700px;
  background: #1e1e1e;
  border-radius: 5px;
  padding: 16px;
}

.cu--box:last-of-type {
  margin-bottom: 50px;
}

.container-body {
  overflow: auto;
}

.cu--sub__box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 16px;
}
.cu--sub__item {
  display: flex;
  margin-right: 16px;
  margin-bottom: 16px;
  box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
  background: #555;
  border-radius: 5px;
  padding: 16px;
  width: auto;
}

svg {
  width: 24px;
  vertical-align: middle;
}

.cu--svg {
  margin-left: 32px;
}
